h1 {
    font-family: 'Fjalla One', sans-serif;
}

body {
    font-family: 'Work Sans', sans-serif;
}

input[type="tel"]{
    margin-bottom: 0;
}

small{
    margin-bottom: 20px;
    display: inline-block;
}